body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
  background-color: black;
}


.carousel-item {
  height: 40rem;
}

@media (max-width: 800px) {
  .carousel-item {
    height: 15rem;
  }
}